<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <a class="navbar-brand pf-m-3-col-on-sm pf-m-2-col-on-md pf-u-mr-0" href="{{ "/" | relative_url }}" style="max-width: 150px;">
    <img src="/assets/img/NewRHDFullLogo_white.png" alt="Red Hat Developers">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    {% include navigation.html navigation=site.data.navigation %}
  </div>
</nav>
