<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/" style="max-width: 150px;">
    <img src="/assets/img/NewRHDFullLogo_white.svg" alt="Red Hat Developers">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <!-- {{ site.title | escape }} -->
  <!-- <a href="{{ "/" | relative_url }}" style="width: 100px;">
    <img src="/assets/img/NewRHDFullLogo_white.svg" alt="Red Hat Developers">
  </a> -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    {% include navigation.html navigation=site.data.navigation %}
  </div>
</nav>
