<div class="rhddx-c-missing-code">
  <div class="hero">
    <div class="hero__text">
      <h1 class="text-reveal">
        <span>We're unable to locate an</span>
        <span>example for this item</span>
      </h1>
      <p class="text-reveal">
        <span>To contribute an example, follow our <a href="https://github.com/redhat-developer/design-manual/README_site.md">Contribution Guide</a>.</span>
        <span>To request an example, see our <a href="https://github.com/redhat-developer/design-manual/issues/new" target="top">GitHub Issues</a>.</span>
      </p>
    </div>
  </div>
</div>
