{% if page.intro_paragraph and page.intro_paragraph != '' %}
  <p class="intro">
    {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}

{% if page.status == 'released' %}
  <span class="pf-c-label pf-m-compact">
    {{ page.status | markdownify | remove: '<p>' | remove: '</p>' }}
  </span>
{% elsif page.status == 'unreleased' %}
  <span class="pf-c-label pf-m-compact" style="background-color: orange;">
    {{ page.status | markdownify | remove: '<p>' | remove: '</p>' }}
  </span>
{% endif %}

{% if page.section == 'design' and page.section != '' %}
  Updated on: <date>{{ page.date | markdownify | remove: '<p>' | remove: '</p>' }}</date>
{% endif %}
