{% if page.intro_paragraph and page.intro_paragraph != '' %}
  <p class="intro">
    {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}

{% if page.status == 'released' %}
  <span class="pf-c-label label-released">
    {{ page.status | markdownify | remove: '<p>' | remove: '</p>' }}
  </span>
{% elsif page.status == 'unreleased' %}
  <span class="pf-c-label label-unreleased">
    {{ page.status | markdownify | remove: '<p>' | remove: '</p>' }}
  </span>
{% endif %}

{% if page.section == 'design' and page.section != '' and page.title != 'Design Overview' %}
  <i>Last update: <date>{{ page.date | markdownify | remove: '<p>' | remove: '</p>' }}</date></i>
{% endif %}
