{% assign navurl = page.url | remove: 'index.html' %}
<nav class="pf-c-nav" aria-label="Global">
  <ul class="pf-c-nav__list">
    <li class="pf-c-nav__item">
      <a href="/components" {% if page.title == 'Components Overview' %} class="pf-c-nav__link pf-m-current" aria-current="page" {% else %} class="pf-c-nav__link" {% endif %} >Overview</a>
    </li>
  {% for page in site.pages %}
    {% if page.category == "components" %}
    <li class="pf-c-nav__item">
      <a href="{{ page.url }}" {% if page.title == page.category.title %} class="pf-c-nav__link pf-m-current" aria-current="page" {% else %} class="pf-c-nav__link" {% endif %} >{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
