{% assign navurl = page.url | remove: 'index.html' %}
<ul class="pf-c-nav__list">
  <li class="pf-c-nav__item pf-m-expandable pf-m-expanded">
    <a href="/assemblies" {% if page.title == 'Assemblies Overview' %} class="pf-c-nav__link pf-m-current rhddx-m-uppercase" aria-current="page" {% else %} class="pf-c-nav__link" {% endif %} >
      Overview
    </a>
    <section class="pf-c-nav__subnav">
      {% for page in site.pages %}
      <ul class="pf-c-nav__simple-list">
        {% if page.section == "assemblies" %}
        <li class="pf-c-nav__item">
          <a href="{{ page.url }}" {% if page.title == page.category.title %} class="pf-c-nav__link pf-m-current" aria-current="page" {% else %} class="pf-c-nav__link" {% endif %} >{{ page.title }}</a>
        </li>
        {% endif %}
      </ul>
    {% endfor %}
    </section>
  </li>
</ul>

