{% assign navurl = page.url | remove: 'index.html' %}
{% for item in site.data.design.toc %}
<nav class="pf-c-nav pf-m-dark" aria-label="Global">
  <section class="pf-c-nav__section" aria-labelledby="grouped-title1">
    <h2 class="pf-c-nav__section-title" id="grouped-title1">{{ item .title }}</h2>
    <ul class="pf-c-nav__list">
      {% for entry in item.subfolderitems %}
      <li class="pf-c-nav__item">
        <a href="{{ entry.url | prepend: site.baseurl }}" {% if page.title == entry.page %} class="pf-c-nav__link pf-m-current" {% else %} class="pf-c-nav__link" {% endif %}>{{ entry.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</nav>
{% endfor %}
