:root {
  --rhd-theme--ui-background-image__resources: url(https://developers.redhat.com/images/gray_diamond_background.png);
  --rhd-theme--ui-background-image__video-hero: url(/assets/img/background-image-video-blue_3.png);
  --rhd-theme--ui-background-image__rich-text: url(/assets/img/background-image-code-medgray.png);
  --rhd-theme--ui-background-image__content-with-image: url(/assets/img/background-image-code-darkgray.png);
  --rhd-theme--ui-background-image__events-hero: url(/assets/img/DevNation_Live_Herobg.jpg);
  --rhd-theme--ui-background-image__courses: url(/assets/img/rhd-katacoda-header-1410x940.jpg);
  --rhd-theme--ui-background-image__product-hero-light: url(/assets/img/product-hero-light.png);
  --rhd-theme--ui-background-image__product-hero-dark: url(/assets/img/product-hero-dark.png);
}
