:root {
  --rhd-theme--ui-background-image__resources: url(https://developers.redhat.com/images/gray_diamond_background.png);
  --rhd-theme--ui-background-image__video-hero: url(/assets/img/background-image-video-blue_3.png);
  --rhd-theme--ui-background-image__rich-text: url(/assets/img/background-image-code-medgray.png);
  --rhd-theme--ui-background-image__content-with-image: url(/assets/img/background-image-code-darkgray.png);
  --rhd-theme--ui-background-image__events-hero: url(/assets/img/DevNation_Live_Herobg.jpg);
  --rhd-theme--ui-background-image__courses: url(/assets/img/rhd-katacoda-header-1410x940.jpg);
  --rhd-theme--ui-background-image__product-hero-light: url(/assets/img/product-hero-light.png);
  --rhd-theme--ui-background-image__product-hero-dark: url(/assets/img/product-hero-dark.png);
}

$rhddx-global--breakpoint--xs: 0 !default;
$rhddx-global--breakpoint--sm: 576px !default;
$rhddx-global--breakpoint--md: 768px !default;
$rhddx-global--breakpoint--lg: 992px !default;
$rhddx-global--breakpoint--xl: 1200px !default;
$rhddx-global--breakpoint--2xl: 1450px !default;

.rhddx-c-background-image {
  --rhddx-c-background-image--BackgroundColor: #151515;
  --rhddx-c-background-image--BackgroundImage: url("../../assets/img/missing_puzzle_piece.jpg");
  --rhddx-c-background-image--BackgroundImage-2x: url("../../assets/img/missing_puzzle_piece@2x.jpg");
  --rhddx-c-background-image--BackgroundImage--sm: url("../../assets/img/missing_puzzle_piece.jpg");
  --rhddx-c-background-image--BackgroundImage--sm-2x: url("../../assets/img/missing_puzzle_piece@2x.jpg");
  --rhddx-c-background-image--BackgroundImage--lg: url("../../assets/img/missing_puzzle_piece.jpg");
  --rhddx-c-background-image--Filter: url("#image_overlay");
  color: #f1f1f1;
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--rhddx-c-background-image--BackgroundColor);
    background-image: var(--rhddx-c-background-image--BackgroundImage);
    filter: var(--rhddx-c-background-image--Filter);
    background-repeat: no-repeat;
    background-size: cover;

    // stylelint-disable
    @media (max-width: $rhddx-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
      (max-width: $rhddx-global--breakpoint--sm) and (min-resolution: 192dpi) {
      --rhddx-c-background-image--BackgroundImage: var(--rhddx-c-background-image--BackgroundImage-2x);
    }

    @media (min-width: $rhddx-global--breakpoint--sm) {
      --rhddx-c-background-image--BackgroundImage: var(--rhddx-c-background-image--BackgroundImage--sm);
    }

    @media (min-width: $rhddx-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $rhddx-global--breakpoint--sm) and (min-resolution: 192dpi) {
      --rhddx-c-background-image--BackgroundImage: var(--rhddx-c-background-image--BackgroundImage--sm-2x);
    }

    @media (min-width: $rhddx-global--breakpoint--lg) {
      --rhddx-c-background-image--BackgroundImage: var(--rhddx-c-background-image--BackgroundImage--lg);
    }
    // stylelint-enable
  }
}

.rhddx-c-background-image__filter {
  display: block;
}
