.rhddx-c-button {
  padding: .5em .875em;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s;
  &.rhddx-m-edit {
    position: fixed;
    right: 1rem;
    bottom: 7rem;
    min-width: 48px;
    min-height: 40px;
    &:hover {
      .rhddx-c-button--edit_text {
        display: inline;
      }
    }
    .rhddx-c-button--edit_text {
      display: none;
    }
    &:hover .rhddx-c-button--edit_icon {
      padding-left: .5em;
      border-left: 1px solid #80b9e7;
      margin-left: .5em;
    }
  }
  &.rhddx-m-new {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    min-width: 48px;
    min-height: 40px;
    &:hover {
      .rhddx-c-button--new_text {
        display: inline;
      }
    }
    .rhddx-c-button--new_text {
      display: none;
    }
    &:hover .rhddx-c-button--new_icon {
      padding-right: .2em; // keep new icon inline with larger edit icon
      padding-left: .7em;
      border-left: 1px solid #80b9e7;
      margin-left: .5em;
    }
  }
}
