.rhddx {
  .pf-c-label {
    &.label-released {
      --pf-c-label--Color: #f8fcff;
      --pf-c-label--BackgroundColor: #0040d5;
    }
    &.label-unreleased {
      --pf-c-label--Color: #000;
      --pf-c-label--BackgroundColor: #ffbf00;
    }
  }
}
