.pf-c-page__header {
  .rhddx & {
    background-color: #353535;
  }
}
.pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover,
.pf-c-nav__horizontal-list .pf-c-nav__link:hover,
.pf-c-nav__horizontal-list .pf-c-nav__link:active,
.pf-c-nav__horizontal-list .pf-c-nav__link:focus,
.pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current {
  .rhddx & {
    --pf-c-nav__horizontal-list-link--Color: var(--pf-c-nav__horizontal-list-link--Color);
  }
}

.pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover::after,
.pf-c-nav__horizontal-list .pf-c-nav__link:hover::after,
.pf-c-nav__horizontal-list .pf-c-nav__link:active::after,
.pf-c-nav__horizontal-list .pf-c-nav__link:focus::after,
.pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current::after,
.pf-c-nav__list .pf-m-current.pf-c-nav__link::after,
.pf-c-nav__list .pf-m-current > .pf-c-nav__link::after, {
  .rhddx & {
    background-color: #cc0000;
  }
}
.pf-c-nav__list .pf-c-nav__link.pf-m-hover::after,
.pf-c-nav__list .pf-c-nav__link:hover::after,
.pf-c-nav__list .pf-c-nav__link.pf-m-active::after,
.pf-c-nav__list .pf-c-nav__link:active::after {
  .rhddx & {
    background-color: #cc0000;
  }
}
