:root {
  --rhddx-code--highlight--XML-Color: #aef7b4;
  --rhddx-code--highlight--XML-Color-alt: #ddfdd5f2;
  --rhddx-code--highlight--TOML-Color: #f7b0ae;
  --rhddx-code--highlight--TOML-Color-alt: #fdd6d5f2;
}

.rhddx {
  /*
  ** Add the external link icon to any URLs that contain 'patternfly.org', signifying that the user is leaving for the PatternFly site.
  */
  // a[href*="patternfly.org"]:after {
  //   content: '';
  //   display: inline-block;
  //   background-image: url(../../assets/img/PF_logo.png);
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   height: 16px;
  //   width: 17px;
  //   margin-left: 4px;
  //   .pf-c-nav__list > .pf-c-nav__item & {
  //     content: '';
  //     display: inline-block;
  //     background-image: url(../../assets/img/PF_logo.png);
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     height: 16px;
  //     width: 17px;
  //     margin-left: 4px;
  //   }
  // }

  /*
  ** Add the GitHub icon to any URLs that contain 'github.com', signifying that the user is leaving the site and proceeding to GitHub.
  */
  a[href*="github.com"]:after {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f09b";
    margin-left: 4px;
    .pf-c-nav__list > .pf-c-nav__item & {
      font-family: "Font Awesome 5 Brands";
      font-weight: 400;
      content: "\f09b";
      margin-left: 4px;
      position: initial;
      background-color: transparent;
    }
  }

  /*
  ** Add the CodePen icon to any URLs that contain 'codepen.io', signifying that the user is leaving the site and proceeding to CodePen.
  */
  a[href*="codepen.io"]:after {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f1cb";
    margin-left: 4px;
    .pf-c-nav__list > .pf-c-nav__item & {
      font-family: "Font Awesome 5 Brands";
      font-weight: 400;
      content: "\f1cb";
      margin-left: 4px;
      position: initial;
      background-color: transparent;
    }
  }

  /*
  ** Add the Marvel icon to any URLs that contain 'marvel.com'
  */
  a[href*="marvelapp.com"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f53f";
    margin-left: 4px;
  }

  /*
  ** Customize text selection/highlight colors
  */
  ::-moz-selection { /* Code for Firefox */
    color: #fff;
    background-color: rgb(0, 116, 232);
  }

  ::selection {
    color: #fff;
    background-color: rgb(0, 116, 232);
  }

  .highlighter-rouge {
    font-family: Fira Coda, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 4px 8px;
    background-color: #fff;
    border: 2px solid #f0f0f0;
    color: #2a3035;
    border-radius: 3px;
    line-height: 1.5;
    &::-moz-selection { /* Code for Firefox */
      color: #2a3035;
      background-color: #cfe0f3;
    }

    &::selection {
      color: #2a3035;
      background-color: #cfe0f3;
    }
  }
  [class*="language-"].highlighter-rouge {
    background-color: #fff;
    border: 2px solid #f0f0f0;
    color: #2a3035;
  }

  /*
  ** Position 'Copy' toolbar button
  */
  div.code-toolbar > .toolbar {
    position: relative;
    top: -1px;
    right: 0;
    border: 1px solid;
    border-color: #f0f0f0;
    text-align: right;
    opacity: 1;
  }
  pre {
    background-color: #fff;
    border: 1px solid;
    border-color: #f0f0f0;
  }
  pre[class*="language-"] {
    margin-bottom: 0;
  }
  div.code-toolbar > .toolbar .toolbar-item {
    button.pf-c-button.pf-m-control {
      padding: 8px 20px;
      background-color: #fff;
      border: 1px solid;
      border-color: #f0f0f0;
      border-top: 0;
      border-bottom: 2px solid;
      border-bottom-color: #8A8D90;
      box-shadow: inset -1px 0 0 0 #f0f0f0,
        inset 0 1px 0 0 #f0f0f0,
        inset 1px 0 0 0 #f0f0f0,
        inset 0 -1px 0 0 #8a8d90;
      margin-top: -1px;
      margin-bottom: 0;
      &::before {
        content: "\f0c5";
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        color: #151515;
      }
      &:hover,
      &:active,
      &:focus {
        border-bottom-color: #0066CC;
      }
      &::after {
        border-color: #f0f0f0;
      }
      &:hover::after,
      &:active::after,
      &:focus::after {
        border-bottom: 0;
      }
    }
  }
  div.code-toolbar>.toolbar a,
  div.code-toolbar>.toolbar button,
  div.code-toolbar>.toolbar span {
    padding: 0;
    font-size: 16px;
    color: #72767B;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
  }

  figure.highlight {
    position: relative;
    margin: 36px 0;
    padding-top: 32px;
    &::-moz-selection { /* Code for Firefox */
      color: #2a3035;
      background-color: #cfe0f3;
    }
    &::selection {
      color: #2a3035;
      background-color: #cfe0f3;
    }
    pre {
      code {
        &[data-lang]::before {
          content: "\f121   "attr(data-lang)""; // extra spaces provide spacing between icon and text
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          text-transform: uppercase;
          position: absolute;
          top: -40px;
          right: 0;
          padding: 8px 20px;
          border: 2px solid;
          border-color: #f0f0f0;
          border-bottom: 0;
          color: #72767b;
          background-color: #fff;
        }
        &[data-lang] {
          &::-moz-selection { /* Code for Firefox */
            color: #2a3035;
            background-color: #cfe0f3;
          }
          &::selection {
            color: #2a3035;
            background-color: #cfe0f3;
          }
        }
      }
    }
  }
  table.highlight {
    tr {
      border-bottom: 0 !important;
    }
  }
}
