---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body class="pf-m-redhat-font">

    {% include header.html %}
    <div class="pf-l-grid">
      <div class="pf-l-grid__item pf-m-12-col pf-m-3-col-on-sm pf-m-2-col-on-md" id="sticky-sidebar">
        <div class="sticky-top">
          {% include sidenavs/sidenav-assemblies.html component=site.data.assemblies %}
        </div>
      </div>
      <main class="pf-l-grid__item pf-m-12-col pf-m-9-col-on-sm pf-m-10-col-on-md pf-u-py-md pf-u-pl-md pf-c-content" id="main">
        <h1>{{ page.title }}</h1>
        <blockquote>{% include page-intro.html %}</blockquote>
        {{ content }}
      </main>
    </div>

  </body>

</html>
