---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body class="pf-m-redhat-font">

    {% include header.html %}
    <div class="container-fluid">
      <div class="row">
        <div class="col col-sm-3 col-md-2" id="sticky-sidebar">
          <div class="sticky-top">
            {% include sidenav-assemblies.html component=site.data.assemblies %}
            {% include footer.html %}
          </div>
        </div>
        <main class="col-12 col-sm-9 col-md-10 pf-c-content py-3 pl-3" id="main">
          <h1>{{ page.title }}</h1>
          <blockquote>{% include page-intro.html %}</blockquote>

          {{ content }}
        </main>
      </div>
    </div>

  </body>

</html>
